<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tauri App</title>
    <script type="text/javascript" src="../js/main.js" defer></script>
  </head>
  <body>
    <h1>Bienvenido a la app de venta de billeteras!</h1>
    <button id='boton1'>boton 1</button>
    <button id='boton2'>boton 2</button>
    <button id="boton3">abrir otra vista</button>
    <div class="items-inicio">
      <p><a href="carga-producto.html">Carga de productos</a></p>
      <p><a href="upd_productos.html">Modificar productos</a></p>
      <p>Item 3</p>
      <p>Item 4</p>
    </div>
  </body>
</html>
